* {
    margin: 0;
    padding: 0;
    }
.cabecalho {background-color: red;
color: black ;
display:flex;
justify-content: space-around;
padding: 24px 0;}


.imagem-cabecalho{
    width: 15%;
    height: 5%;}

h1
    {display: inline-block;
        margin: 0 16px;
        padding: 100px 0;
        font-size: 40px;}


li
    {display: inline-block;
        margin: 0 16px;
        padding: 24px 0;
        font-size: 24px;}

.escola-imagem{
            width:20%;
            }
section {
    background-image: linear-gradient(red,black);
    color: white;
    display:flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}
div
{width: 35%;
    }
h2
 {padding: 24px 0;
        }